@page
@model FlexConMan_Monolith.Pages.Conferences.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Conference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Conference.Name" class="control-label"></label>
                <select asp-for="Conference.CcId" class ="form-control" asp-items="ViewBag.CcId"></select>
                <a asp-page="/ConferenceCenters/Create" target="_blank" class="btn btn-link, btn-sm">Create new Conference Center</a>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Conference.Name" class="control-label"></label>
                <input asp-for="Conference.Name" class="form-control" />
                <span asp-validation-for="Conference.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Conference.DateFrom" class="control-label"></label>
                <input asp-for="Conference.DateFrom" class="form-control" type="date" />
                <span asp-validation-for="Conference.DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Conference.DateTo" class="control-label"></label>
                <input asp-for="Conference.DateTo" class="form-control" type="date" />
                <span asp-validation-for="Conference.DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
